#Lessons_overview_container{
    width: 20%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: solid 1px black;
    overflow-y: scroll;
}

#Lessons_overview_container ol{
    width: stretch;
    display: table;
    background-color: #c8cdd2;
    margin-block-start: 0;
    margin-block-end: 0;
}

#Lessons_overview_title{
    overflow:visible;
    height: 20%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    background-color:aqua;
}

.Lesson_list_item{
    display: table-row;
    text-decoration: none;
    color:black;
    height: 100px;
    padding-top: 10px;
    text-align:left;
}