
.Navbar_menu {
    margin: 0;
    padding: 0;
}

#Navbar_list {
  background-color: #486ebb;
  display: flex;
  margin: 0;
  padding: 0;
  height: 20%;
  flex-direction: row;
  justify-content: center;
  font-size: calc(50% + 2vmin);
  color: white;
}

#Navbar_list li {
    margin-left:5%;
    margin-right:5%;
    list-style: none;
}

.NavLink{
  text-decoration: none;
  color:black
}