@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family:  'Open Sans','Helvetica','sans-serif';
}
.flex-third{
    flex-basis: 30%;
}

/* Nav component*/


/* Search Classes*/

#search:has(#searchInput:focus){
    @apply bg-udacity-interactive-focus shadow-udacity-focused
}

/* .course-search-card:hover > div.bg-courseCard{
    right:20rem
} */